[Unit]
Description=Daily UMX configurator data backup

[Timer]
OnCalendar=*-*-* 04:10:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
